# Ignore all Python virtual environments
venv/
**/venv/
**/venv/*

# Ignore Python cache
__pycache__/
**/__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore model files and large data (customize as needed)
*.pkl
*.h5
*.pt
*.onnx
*.ckpt
*.joblib
*.npy
*.npz
*.csv
*.zip
*.tar.gz
*.tar
*.log

# Ignore node_modules for frontend
node_modules/
**/node_modules/ 