psutil==5.9.8
uvicorn==0.24.0
fastapi==0.104.1
python-multipart==0.0.6
transformers==4.35.2
torch==2.2.0
soundfile==0.12.1
vosk==0.3.44
ffmpeg-python==0.2.0
pyaudio
groq
prometheus_client==0.17.1
sounddevice
numpy
SpeechRecognition
PyAudio
textblob
groq
google-generativeai
langchain
langchain-community
langchain-google-genai
faiss-cpu
sentence-transformers
python-dotenv
datetime 